body {
  background-color: #c3c5cd;
  padding: none;
}

.App {
  
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: black;
  color: white;
  padding-left: 5%;
}

.deleteBtn {
  background-color: #ad3030;
  color: white;
  float: right;
  
}
.wrapper {
  padding: 2%;
  margin-top: 10%;
  display: grid;
  grid-template-columns: 30% 60%;
  grid-gap: 2%;
}

.projectDiv {
  grid-column-start: 1;
	grid-column-end:   2;
}

.todos {
  padding-left: 2%;
  border-left: 1px solid black;
}